<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pics</title>
  <link rel="stylesheet" href="./assets/dashboard">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

</head>
<body>
<div class="container-fluid">
  <div class="row top-actions">
    <div class="col-3">
      <img src="./assets/notification" alt="Notification" class="notification trigger-popup ">
    </div>
    <div class="col-3">
      <h6 class="trigger-popup">Search</h6>
    </div>
    <div class="col-3">
      <h6 class="trigger-popup">Matches</h6>
    </div>
  </div>
</div>

  <div class="container-fluid ">
    <div class="row">
      <!-- Main content area -->
      <div class="container-fluid">   
        <div class="gallery">
          <div class="gallery-item">
            <img class="trigger-popup" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeZZHxc3_R6ep7gr4HMVtbhij1tRuTMff5Bg&s" alt="Image 1">
            <span class="caption">Jeny Spark</span>
            <div class="subscript trigger-popup">Connect me</div>
          </div>
          <div class="gallery-item">
            <img class="trigger-popup" src="https://cdn.pixabay.com/photo/2018/05/22/14/00/girl-3421489_640.jpg" alt="Image 2">
            <span class="caption">Jeny Spark</span>
            <div class="subscript  trigger-popup">Connect me</div>
          </div>
        <!-- Add more gallery items as needed -->
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
