<h1>Six Digit OTP</h1>
<div id="six_digit_inputs">
  <% @six_digit_inputs.each do |six_digit_input| %>
    <div>
      <p><strong>Six Digit OTP:</strong> <%= six_digit_input.value %></p>
      <p><strong>Created At:</strong> <%= six_digit_input.created_at.strftime("%d/%m/%Y %H:%M") %></p>
    </div>
  <% end %>
</div>
