<div class="container text-center mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card bg-light shadow-lg p-3 mb-5 rounded">
                <div class="card-body">
                    <h2 class="card-title text-dark">Key Features of this app:</h2>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-light text-dark border-0">Authentication System</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
