<html>
<head>
  <title>Popup Page</title>
  <link rel="stylesheet" type="text/css" href="./assets/popup.css">
</head>
<body>
 <section class="section home-5-bg" id="home">
  <div id="particles-js"></div>
  <div class="bg-overlay"></div>
  <div class="home-center">
      <div class="home-desc-center">
          <div class="container">
              <div class="justify-content-center row">
                  <div class="col-lg-7">
                      <div class="mt-40 text-center home-5-content">
                          <div class="home-icon mb-4"><i class="mdi mdi-pinwheel mdi-spin text-white h1"></i></div>
                          <img src= "./assets/bj.png" alt="bj" width="100" height="100"> 

                          <h1 class="text-white font-weight-normal home-5-title mb-0">Free Adult Dating Service & Sex Personals &amp;</h1>
                          <p class="text-white-70 mt-4 f-15 mb-0"> Meet local adults for no strings attached dating on the web's only member-voted online adult dating service.
                          100% FREE Dating Service, Free Photo Personals, Chat, Messaging & More</p>
                          <div class="mt-5">
                              <a href="#" class="btn btn-danger">Join if you are 18+</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="section home-5-bg" id="home">
  <div id="particles-js"></div>
  <div class="bg-overlay"></div>
  <div class="home-center">
      <div class="home-desc-center">
          <div class="container">
              <div class="justify-content-center row">
                  <div class="col-lg-7">
                      <div class="mt-40 text
                              <button id="goToHomeButton" class="btn btn-default" type="button">Join if you are 18+</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>


  <script>
    document.getElementById("goToHomeButton").addEventListener("click", function() {
      window.location.href = "./home/index";
    });
  </script>
</body>
</html>
