.nav {
  background: linear-gradient(to right, #000, #C0C0C0);
  width: 101%;
  position: relative;
  font-family: cursive;
  font-size: 1.5rem;
}

.navbar-brand {
  left: 0;
  width: 3rem;
}

.navbar-brand {
  flex-shrink: 0; /* Prevent logo from shrinking */
}

.nav h4 {
  margin-left: 35%;
  color: #c6e805;
  padding: 1%;
}



.nav li a {
  color: #fff;
  padding: 1%;
}

.nav li a:hover {
  color: #c6e805;
}

.navbar-toggler .bar {
  display: block;
  width: 20px;
  height: 2px;
  margin: 4px 0;
}

@media (max-width: 768px) {

  .nav {
    background: #000;
  }

  .navbar-brand {
    width: 7.5rem;
  }

  .nav li {
    padding-left: 5%;
  }
  
}