.nav {
  background: linear-gradient(to right, #c0c0c0, #000);
  width: 100%;
  position: relative;
}

.navbar-brand {
  position: absolute;
  left: 5%;
  width: 5rem;
}

.navbar-brand {
  flex-shrink: 0; /* Prevent logo from shrinking */
}

.nav h4 {
  margin-left: 35%;
  color: #c6e805;
  padding: 1%;
}

.nav li a {
  color: #fff;
  padding: 1%;
}

.nav li a:hover {
  color: #c6e805;
}

.navbar-toggler .bar {
  display: block;
  width: 20px;
  height: 2px;
  background-color: red;
  margin: 4px 0;
}

@media (max-width: 768px) {

  .navbar-brand {
    width: 4.5rem;
    margin-left: 39%;
  }
  
}