body {
  background-color: rgb(92, 67, 116);
  color:azure
}

.flex-r {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.flex-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#banner {
  background-image: url('1.gif');
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 10% 1%;
}

.image-container-wrapper {
  margin-top: 1%;
  padding-top: 1%;
}

.image-container {
  margin: 0.1% auto;
  text-align: center;
}

.image-container img {
  width: 15rem;
  height: 20rem;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.image-caption .badge {
  display: flex;
  justify-content: space-around;
}

.image-caption p {
  padding: 0 3%;
}

.name {
  color:#bfafaf;
}

.status {
  color: #00ff00;
}

.footer {
  background-color: #4f3767;
  text-align: center;
}

.action p {
  margin-right: 2%;
}

.action-img {
  margin-right: 3%;
}

.rounded-circle {
  width: 131%;
}


@media (max-width: 480px) {
  #home {
    padding: 1%;
  }

  #banner {
    background-repeat: round;
  }
}