<p style="color: green"><%= notice %></p>

<h1>Card Info:</h1>

<div id="infos">
  <% @infos.each do |info| %>
    <%= render info %>
    <%= info.created_at.strftime("%d/%m/%Y %H:%M") %>
  <% end %>
</div>

