<div class="container-fluid my-3 py-30";>
  <div class="row justify-content-center">
    <div class="col-md-12 text-center">
      <h2 id="heading2" class="text-primary"> Unlock all features with $0.99 only:</h2>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-12 text-center">
      <h2 id="heading2" class="text-danger">Payment Info:</h2>
    </div>
  </div>

  <div class="row justify-content-center">
    <%= render "form", info: @info %>
  </div>
</div>
