<html>
  <head>
    <title>Footer</title>
    <link rel="stylesheet" type="text/css" href="./assets/footer.css">
  </head>
  <body>
      <div class="container-fluid footer">
        <div class="row">
          <div>
          # privacy link
          <a href="/privacy.html" class="f-15">Privacy</a>
          </div>
          <div class="col-lg-12 text-center">
            <p class="mt-1 f-15">© 2023 Free Adult Dating Service. All Rights Reserved</p>
          </div>
        </div>
      </div>
  </body>